body {
    background-color: hsl(257, 40%, 49%);
    color: white;
    font-family: 'Open Sans'
}

.logo-div { margin: 30px 0 60px 10px;}

.cont { margin-left: 30px }

/* Introduction Section */
.intro-section { margin: auto }
h2 { font-family: Poppins;}
.Register { 
    background-color: white;
    color: hsl(257, 40%, 49%);
    padding: 0 30px 0 30px;
    border: .1em solid hsl(257, 77%, 43%);
    border-radius: 10px;
}

/* Footer */
.footer { margin: 60px auto 0 auto; }
.attribution { font-size: 15px; text-align: center; }
.attribution a { color: orange; }
.sm {margin-bottom: 40px;}
.sm-icon {
    color: white;
    font-size: 20px;
    float: right;
    border: .1px solid white;
    padding: 1%;
    margin: 10px;
    background-color: hsl(257, 39%, 45%);
    border-radius: 50%;
}

/* Mobile view */
@media only screen and (max-width: 600px) {
    /* Background image */
    body {
        background-image: url(./images/bg-mobile.svg);
        background-size: 100% auto;
        background-repeat: no-repeat;
    };
    .cont { margin: 0; }
    .intro-section { margin-top: 20px; }
    .sm {text-align: center;}
    .sm-icon {
        float: none;
        text-align: center;
        border-radius: 50%;
    }
}